html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.temp {
    display: none;
}

.block{
    display:block;
}

.photo{
    width: 200px;
}

.photo_vertical {
    height: 200px;
}

.photoBig {
    width: 700px;
}

.photoBig_vertical {
    height: 700px;
}

.itemData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.DataBlock {
    display: flex;
    justify-content:space-evenly;
}

.DescenderData {
    display: flex;
    justify-content: center;
}
.OneDescender {
    display: flex;
    justify-content: center;
    border: groove;
    margin: 10px;
}



.DescenderDesc {
    margin: 10px;
}

.Descenders {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    margin-top:25px;
}
.DescendersList {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.DelMess {
    font-weight: bold;
    font-size: x-large;
    color: black;
    text-decoration: underline;
}


.OneDescenderPic {
    display: flex;
    justify-content: center;
    //border: groove;
    //margin: 5px;
    width: 200px;
    height: 140px;
}

.photo_ver_rot {
    height: 175px;
    transform: rotate(90deg);
    margin-top: -30px;
}

.photo_hor {
    width: 175px;
}

.liked_True {
    border: groove;
    border-color:red;
}
