html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.temp {
    display: none;
}

.block{
    display:block;
}

.photo{
    width: 200px;
}

.photo_vertical {
    height: 200px;
}

.photoBig {
    width: 700px;
}

.photoBig_vertical {
    height: 700px;
}

.itemData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.DataBlock {
    display: flex;
    justify-content:space-evenly;
}

.RecInFTData {
    display: flex;
    justify-content:center;
}
.RecInFT {
    display: flex;
    justify-content: center;
    border: groove;
    margin:10px;
}

.RecInFTEI{
    margin-right:10px;
}

.DevelopmentOptions {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}