@model PhotoArchive.Models.Recipe

@{
    ViewData["Title"] = "Add to filmType";
}

<h1>@ViewData["Title"]</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EI" class="control-label"></label>
                <input asp-for="EI" class="form-control" />
                <span asp-validation-for="EI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmType" class="control-label"></label>:
                @Model.FilmType
                <input asp-for="FilmTypeId" class="form-control" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="Developer" class="control-label"></label>
                <select asp-for="DeveloperId" class ="form-control" asp-items="ViewBag.DeveloperId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Min" class="control-label"></label>
                <input asp-for="Min" class="form-control" />
                <span asp-validation-for="Min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sec" class="control-label"></label>
                <input asp-for="Sec" class="form-control" />
                <span asp-validation-for="Sec" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Color" /> @Html.DisplayNameFor(model => model.Color)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="AddRecFromFT" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
